*
{
    direction: rtl;
    font-family: 'Shabnam', 'B Nazanin'; 
}
body, a, div, button
{
    font-size: 97%;
}
body
{
    margin: 0px;
}

.flex-flow
{
    display: flex;
}

.main-header
{
    background-color: rgb(250, 250, 250);
    height: 80px;
}

.header-container
{
    height: 80px;
    width: 80%;
    margin: auto;
}

.logo-container, .login-search
{
    width: 14%;
    margin-top: auto;
    margin-bottom: auto;
}

.menu
{
    width: 72%;
}
.menu-item
{
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: auto;
    font-size: 120%;
}
.menu-icon
{
    margin-left: 5px
}
.dr-link, .menu-link
{
    display: flex;
    text-decoration: none;
    color: #3b4157;
    padding-bottom: 10px;
}
.dr-link:hover, .menu-link:hover
{
    color: #fb815e;
}
.dr-content
{
    top: 78px;
    right: 20%;
    width: 60%;
    display: none;
    position: absolute;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(237, 237, 237);
    background-color: rgb(255, 255, 255);
}
.dr:hover > .dr-content
{
    display: block !important;
}

.specialty-list
{
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 16px;
    width: 70%;
}
.grid-item
{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 50px;
}
.spec-icon
{
    width: 20%;
    height: auto;
    margin-left: 20px;
}
.spec-text
{
    margin-top: auto;
    margin-bottom: auto;
}
.spec-text:hover
{
    color: rgb(23, 128, 223);
    border-bottom: 1px rgb(23, 128, 223) dotted;
}
.banner-container
{
    width: 30%;
    margin-left: 24px;
}
.banner
{
    width: 100%;
}

.btn
{
    max-width: 150px;
    line-height: 46px;
    margin-top: 10px;
    font-size: 80%;
    border: 2px #fb815e solid;
    border-radius: 5px;
    color: #fb815e;
    background-color: #ffffff;
    cursor: pointer;
    font-weight: 900;
}
.btn:hover
{
    color: #fff;
    background-color: #fb815e;
}
.btn-text
{
    margin-left: 5px;
    margin-right: 7px;
}
.btn-icon
{
    margin-top: auto;
    margin-bottom: auto;
}


.login-box
{
    margin-top: 40px;
    margin-bottom: auto;
}
#login-button
{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(23, 128, 223);
    font-family: 'B Nazanin';
    font-size: 120%;
    font-weight: 900;
    background-color: rgb(237, 237, 237);
}
#login-button:hover
{
    color: #fb815e;
}
.login-icon
{
    transform: scaleX(-1);
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.main-content
{
    padding-top: 20px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 50px;
    padding-bottom: 50px;
}

/* search box */
.search-box
{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    height: 242px;
    border-radius: 10px;
    background-size: cover;
    background-image: url('./images/search-bar/5ef8034.png');
    background-color: #1780df;
}
.search-title
{
    color: #fff;
    text-align: center;
    font-size: 300%;
}
.search-bar
{
    display: flex;
    width: 60%;
    height: 60px;
    margin: auto;
    margin-top: 60px;
}
.sb-text
{
    width: 60%;
    outline: none;
    padding-right: 20px;
    color: rgb(212, 215, 217);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sb-city
{
    width: 20%;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}
.sb-city-1, .sb-city-2, .sb-city-3
{
    margin-top: auto;
    margin-bottom: auto;
}
.sb-city-1
{
    padding-right: 10px;
    border-right: 1px #000 solid;
}
.sb-city-2
{
    margin-top: auto;   
    width: 70%;
    margin-right: 10px;
}
.sb-btn
{
    width: 20%;
    color: #fff;
    border: none;
    outline: none;
    background-color: #fb815e;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}
.sb-btn:hover
{
    background-color: #fa6439;
}

/* best specialties */
.best-specialties
{
    width: 80%;
    margin: auto;
    padding-top: 10px;
}
.bs-title
{
    display: flex;
    margin-top: 20px;
}
.bs-title-1
{
    font-size: 140%;
    width: 89%;
    padding: 10px;
}
.bs-title-2
{
    display: flex;
    font-size: 140%;
    width: 11%;
    margin-top: auto;
    line-height: 100%;
    color: #1780df;
    cursor: pointer;
}
.bs-title-2:hover
{
    color: #fa6439;
}
.bs-list
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin-top: 20px;
}
.spec-box
{
    border: 1px rgb(223, 223, 223) solid;
    border-radius: 10px;
    padding: 10px;
    height: 150px;
    width: 125px;
    margin: auto;
    cursor: pointer;
}
.spec-box:hover
{
    box-shadow: 0px 3px 5px 2px rgb(232, 232, 232);
}
.spec-box-image
{
    border-radius: 5px;
    background-color: #1780df;
    height: 100px;
}
.spec-box-text
{
    text-align: center;
    margin-top: 25px;
    font-size: 120%;
}
.sb-image
{
    position: relative;
    top: 25px;
    right: 35px;
}

/* comments */
.comments
{
    width: 80%;
    margin: auto;
}
.description, .comment-box
{
    width: 50%;
    padding: 20px;
}
.description
{
    margin-top: 150px;
}
.cb
{
    padding: 20px;
    border: 2px#1780df solid;
    border-radius: 20px;
    font-size: 120%;
    background-color: rgb(229, 242, 254);
}
.cb-text
{
    margin-top: 20px;
    margin-bottom: 200px;
}
.cb-footer
{
    border-top: 2px rgb(110, 119, 148) dashed;
    padding-top: 20px;
}
.cb-footer > img
{
    width: 20%;
}
.cb-footer > div
{
    width: 50%;
    padding-top: 25px;
    padding-right: 20px;
}
.cb-footer > button
{
    width: 30%;
    height: 50px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #fb815e;
    cursor: pointer;
    margin-top: 25px;
    border-radius: 10px;
}
.cb-footer > button:hover
{
    background-color: #fa6439;
}
.qoute-img
{
    width: 50px;
    height: auto;
    position: relative;
    right: 30px;
    top: 22px;
}
.mark-text
{
    position: relative;
    display: inline-block;
    width: 200px;
    right: 450px;
    top: -16px;   
}
.mark 
{
    width: 30px;
    height: 30px;
    border-top: 0;
    border-right: 1px solid #1780df;
    border-bottom: 1px solid #1780df;
    border-left: 0;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #e5f2fe;
    z-index: 1;
}
.under-mark
{
    margin-top: 10px;
}

/* special services */
.special-services
{
    background-image: url('./images/special-services/75bb3ac.png');
    background-size: cover;
    padding-top: 20px;
}

.special-services h1
{
    text-align: center;
    color: #fff;
}
.special-services > div
{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
}
.item
{
    margin: 10px;
    padding-top: 20px;
    width: 50%;
}
.white-box
{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.item > .title
{
    padding-top: 20px;
    font-size: 130%;
    text-align: center;
    font-weight: 900;
    color: #fff;
}
.item > p
{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
}
.covid-button
{
    outline: none;
    border: none;
    background-color: #fb815e;
    cursor: pointer;
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    color: #fff;
    border-radius: 10px;
}
.covid-button > div
{
    display: flex;
    font-size: 120%;
    width: fit-content;
    margin: auto;
}
.covid-button:hover
{
    background-color: #fa6439;
}

/* application download */
.app-download
{
    background-color: #fafafa;
    padding-top: 150px;
    padding-bottom: 150px;
}
.app-download > div
{
    width: 80%;
    margin: auto;
}
.picture
{
    width: 50%;
}
.picture > img
{
    width: 80%;
    height: auto;
    display: block;
}
.store-panel
{
    display: inline-block;
    margin-top: 10px;
    margin-right: 160px;
}
.store-panel img
{
    width: 20%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.explanation
{
    width: 40%;
    height: 50%;
    margin: auto;
}
.explanation > h3
{
    margin-top: 30px;
}
.phone-num
{
    width: 80%;
}
.phone-num > input
{
    width: 70%;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    outline: none;
    height: 50px;
    color: rgb(200, 200, 200);
    padding-right: 20px;
}
.phone-num > input:focus
{
    border: 1px solid rgb(23, 128, 223);
}
.phone-num > button
{
    width: 30%;
}
