*
{
    direction: rtl;
    font-family: 'Shabnam', 'B Nazanin'; 
}
body, a, div, button
{
    font-size: 97%;
}
body
{
    margin: 0px;
}

.flex-flow
{
    display: flex;
}

/* comments */
.comments
{
    width: 80%;
    margin: auto;
}
.description, .comment-box
{
    width: 50%;
    padding: 20px;
}
.description
{
    margin-top: 150px;
}
.cb
{
    padding: 20px;
    border: 2px#1780df solid;
    border-radius: 20px;
    font-size: 120%;
    background-color: rgb(229, 242, 254);
}
.cb-text
{
    margin-top: 20px;
    margin-bottom: 200px;
}
.cb-footer
{
    border-top: 2px rgb(110, 119, 148) dashed;
    padding-top: 20px;
}
.cb-footer > img
{
    width: 20%;
}
.cb-footer > div
{
    width: 50%;
    padding-top: 25px;
    padding-right: 20px;
}
.cb-footer > button
{
    width: 30%;
    height: 50px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #fb815e;
    cursor: pointer;
    margin-top: 25px;
    border-radius: 10px;
}
.cb-footer > button:hover
{
    background-color: #fa6439;
}
.qoute-img
{
    width: 50px;
    height: auto;
    position: relative;
    right: 30px;
    top: 22px;
}
.mark-text
{
    position: relative;
    display: inline-block;
    width: 200px;
    right: 450px;
    top: -16px;   
}
.mark 
{
    width: 30px;
    height: 30px;
    border-top: 0;
    border-right: 1px solid #1780df;
    border-bottom: 1px solid #1780df;
    border-left: 0;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #e5f2fe;
    z-index: 1;
}
.under-mark
{
    margin-top: 10px;
}

/* special services */
.special-services
{
    background-image: url('./images/special-services/75bb3ac.png');
    background-size: cover;
    padding-top: 20px;
}

.special-services h1
{
    text-align: center;
    color: #fff;
}
.special-services > div
{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
}
.item
{
    margin: 10px;
    padding-top: 20px;
    width: 50%;
}
.white-box
{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.item > .title
{
    padding-top: 20px;
    font-size: 130%;
    text-align: center;
    font-weight: 900;
    color: #fff;
}
.item > p
{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
}
.covid-button
{
    outline: none;
    border: none;
    background-color: #fb815e;
    cursor: pointer;
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    color: #fff;
    border-radius: 10px;
}
.covid-button > div
{
    display: flex;
    font-size: 120%;
    width: fit-content;
    margin: auto;
}
.covid-button:hover
{
    background-color: #fa6439;
}

/* application download */
.app-download
{
    background-color: #fafafa;
    padding-top: 150px;
    padding-bottom: 150px;
}
.app-download > div
{
    width: 80%;
    margin: auto;
}
.picture
{
    width: 50%;
}
.picture > img
{
    width: 80%;
    height: auto;
    display: block;
}
.store-panel
{
    display: inline-block;
    margin-top: 10px;
    margin-right: 160px;
}
.store-panel img
{
    width: 20%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.explanation
{
    width: 40%;
    height: 50%;
    margin: auto;
}
.explanation > h3
{
    margin-top: 30px;
}
.phone-num
{
    width: 90%;
}
.phone-num > input
{
    width: 65%;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    outline: none;
    height: 50px;
    color: rgb(200, 200, 200);
    padding-right: 20px;
}
.phone-num > input:focus
{
    border: 1px solid rgb(23, 128, 223);
}
.send-link
{
    width: 35%;
    border-radius: 10px;
    background-color: #fb815e;
    color: #fff;
    cursor: pointer;
}
.send-link svg
{
    width: 15%;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.send-link p
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 100%;
}
.send-link div
{
    position: absolute;
    width: 3.5%;
    height: 50px;
    background-color: #fff;
    opacity: 20%;
    border-radius: 20px 10px 10px 20px;
}
@keyframes button-animation {
    0%   {width: 3.5%; border-radius: 20px 10px 10px 20px;}
    100% {width: 10%; border-radius: 10px;}
}
.send-link:hover > div
{
    animation-name: button-animation;
    animation-duration: 0.5s;
    width: 10%;
    border-radius: 10px;
}


/* footer styles */
#footer-top /* container of top section of footer */
{
    background-color: rgb(23, 128, 223);
    width: 100%;
    padding-top: 20px;
}
#footer-top-container /* container of footer top section */
{
    width: 80%;
    margin: auto;
}
#footer-top-container > img /* footer logo */
{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
}
#footer-top-container > p /* footer text under logo */
{
    text-align: center;
    color: #fff;
}
#middle-section /* container of contact us section in footer */
{
    padding-top: 50px;
    padding-bottom: 20px;
}
.contact-links /* contanier of contact us links */
{
    width: 20%;
    padding: 10px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
/* the next two blocks define how each link looks like and how it changes when pointed on it */
.contact-links > div
{
    color: #fff;
    padding: 10px;
    border-top: 1px #fff solid; 
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}
.contact-links > div:hover
{
    color: rgb(23, 128, 223);
    background-color: #fff;
}
#social-medias /* box containing instagram, twitter and linked in icons */
{
    width: 60%;
    color: #fff;
}
#social-medias > div /* box containing one icon */
{
    width: 33%;
}
#social-medias svg /* one of insta, twitter and linked in icons */
{
    display: block;
    width: 15%;
    height: auto;
    margin: auto;
    cursor: pointer;
}
.vertical-line /* draws a vertical line */
{
    display: inline-block;
    width: 50%;
    height: 150px;
    border-left: 2px #fff solid;
    margin-top: 30px;
}
#subscribe /* subscription panel */
{
    display: grid;
    width: 30%;
    margin: auto;
}
#subscribe-name /* firstname and lastname box */
{
    display: grid;
    grid-template-columns: auto auto;
}
#subscribe input /* subscription text boxes */
{
    height: 40px;
    padding-right: 10px;
    margin: 2px;
    border-radius: 10px;
    outline: none;
    border: 2px rgb(206, 212, 218) solid;
}
#subscribe > input /* to put space between textboxes and button */
{
    margin-bottom: 10px;
}
/* next 3 define animation on subscription button */
@keyframes subscribe-anim
{
    0%   {width: 60px; border-radius: 20px 10px 10px 20px;}
    100% {width: 364px; border-radius: 10px;}
}
.subscribe-effect
{
    position: absolute;
    top: -50px;
    width: 60px;
    height: 50px;
    background-color:#fff;
    opacity: 20%;
    border-radius: 20px 10px 10px 20px;
    cursor: pointer;
}
.btn-wrapper:hover .subscribe-effect
{
    animation-name: subscribe-anim;
    animation-duration: 0.5s;
    width: 365px;
    border-radius: 10px;
}
/* next 3 blocks define logos after subscription button */
#footer-contact
{
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}
#footer-contact > div
{
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
#footer-contact > div > img
{
    width: 100px;
    height: auto;
}
/* bottom part of footer */
#footer-bottom /* bottom-footer contanier */
{
    position: relative;
    width: 80%;
    margin: auto;
    height: 50px;
    color: rgb(59, 65, 87);
} 
#property-right /* property right text */
{
    position: absolute;
    top: 10px;
    right: 50px;
    width: fit-content;
}
#property-right + div /* love text */
{
    position: absolute;
    top: 10px;
    left: 0px;
    width: fit-content;
    text-align: right;
}
#property-right + div > div /* text around heart */
{
    padding-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
}
#property-right + div svg /* heart svg */
{
    fill: red;
    color: #fff;
}