body /* set background image of the page in middle */
{
    background-image: url('./images/img2.jpg');
    background-size: cover;
    background-position: center center;
}

/* next two blocks define the style of links */
a
{
    text-decoration: none;
    color: #000;
}
a:hover
{
    color: rgb(198, 238, 133);
}

/* next 5 blocks are related to style of buttons */
button /* general settings for buttons */
{
    border: none;
    padding: 10px;
    margin: 4px;
    cursor: pointer;
}
button[disabled] /* style of button when it's disabled */
{
    background-color: rgb(208, 208, 208) !important;
    cursor: default;
}
.next /* settings for next button */
{
    background-color: #00bb00;
    color: #fff;
}
.next:hover /* settings for next button while on it */
{
    background-color: green;
}
.prev /* settings for prev button */
{
    background-color: red;
    color: #fff;
}
.prev:hover /* settings for prev button while on it */
{
    background-color: #990000;
}

#main-content /* the box that holds the main content */
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    opacity: 70%;
    padding: 50px;
    border-radius: 10px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

/* next two blocks are defined to put starships and details boxes next to each other */
#starships
{
    float: left;
    margin-right: 30px;
}
#details
{
    float: left;
}
